
div.header
  span.history
    i(data-history-dir="go-back" data-no-history="no" class="fa fa-arrow-left fa-2x")
    i(data-history-dir="go-front" data-no-history="no" class="fa fa-arrow-right fa-2x")
  span.change-color
    //- i(data-color-mode class="fa fa-toggle-on fa-2x")
  script(src="../js/HeaderButton.js")