
extends ./_template.pug

block title
  title Add Prisoner
  
block content

  include ./_HeaderButton.pug
  
  div.add-prisoner_
    webview(id="prisoner-registration" webPreferences="nodeIntegrationInWorker" nodeIntegration)
    div.cell-mates
  script(src="../js/AddPrisoner.js")