

extends ./_template.pug


block content
  include ./_HeaderButton.pug
  
  div.add-visitor
    
    form.add-visitor-form
      
      div.name
      
        label.firstName
          span First Name
          input(type="text" data-db="fName" required)
        label.lastName
          span Last Name
          input(type="text" data-db="lName" required)
      
      div.info
        
        label.address
          span Address
          input(type="text" data-db="address" required)
        label.occupation
          span Occupation
          input(type="text" data-db="occupation" required)
        label.telnumber
          span Phone Number
          input(type="tel" data-db="pnumber" required)
        label.gender
          span Gender
          input(list="gender" data-db="gender" required)
          datalist(id="gender")
            option Male
            option Female

            
      div.visitor-prisoner-name
  
        p Name of Prisoner
      
        label.prisoner-fname
          span First Name
          input(type="text" data-db="pfname" required)
          
        label.prisoner-lname
          span Last Name
          input(type="text" data-db="plname" required)
      
      div.visitor-relate
        
        label.reason
          span Reason for Visit
          input(type="text" data-db="rtovisit" required)
          
        label.relationship
          span Nature of Relationship
          input(list="relationship" data-db="relationhip" required)
          datalist(id="relationship")
            option Father
            option Mother
            option Sibling
            option Wife
            option Husband
            option Friend
            option Fiance`
            option Fiancee`
            
      div.button
        button(type="button" class="submit") Submit
        button(type="reset" class="reset") Reset
        
  script(src="../js/AddVisitor.js")