

extends ./_template.pug


block title
  title Loading

block content

  div.fake-loading
  
    i(class="fa fa-spin fa-gear fa-gear fa-5x")
    
    p(class="fa-2x") Loading Management System

    div.fake-load-id
      span(data-load-id="1") .
      span(data-load-id="2") .
      span(data-load-id="3") .
      span(data-load-id="4") .

  script(src="../js/FakeLoading.js")