

extends ./_template.jade

block title
  title Add Warder

block content

  body
    form.info
        div.picture
          canvas(class="draw-picture" width="199" height="148" hidden)
          input(required type="text" data-db="frontView" class="hide" data-type="front"  data-data-type="picture" name="fview" )
          input(required type="text" data-db="rightView" class="hide" data-type="right"  data-data-type="picture" name="rview" )
          input(required type="text" data-db="leftView" class="hide" data-type="left" data-data-type="picture" name="lview" )
          button(type="button" class="picture-capture" disabled) Capture
          span(class="preview-picture preview-front" data-direction="front")
            p Front View
          span(class="preview-picture preview-right" data-direction="right")
            p Right View
          span(class="preview-picture preview-left" data-direction="left")
            p Left View

        div.name
          label
            span First Name
            input(required type="text" class="prisoner-firstname" data-db="firstName"  name="firstname")
          label
            span Last Name
            input(required type="text" class="prisoner-lastname" data-db="lastName"  name="lastname")

        div.address
          label
            span Address
            input(required type="text" class="prisoner-address" data-db="address"  name="address")

        div.dob
          label
            span Date of Birth
            input(required type="date" class="prisoner-dob" data-db="dob" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"  name="dob")

        div.location
          label
            span State
            input(required list="stateList" data-db="state")
            datalist(id="stateList")
          label
            span L.G.A
            input(required list="lgalist" data-db="lga")
            datalist(id="lgalist")

        div.body
          label
            span Skin Color
            input(required type="text" class="prisoner-color" data-db="skinColor"  name="skincolor")

          label
            span Height
            input(required type="number" step=".1" min="0" max="500" class="prisoner-height" data-db="height"  name="height" data-data-type="float")

          label
            span Weight
            input(required type="number" step=".1" min="0" max="500" class="prisoner-weight" data-db="weight" name="weight" data-data-type="float")


        div.charged
          label
            span Years Charged
            input(required type="number" class="prisoner-charged-years" data-db="chargedYears" step=".1" max="1000" min="0"  name="yoc" data-data-type="float")
          label
            span Branch Name
            input(required type="text" class="prisoner-prison-name" data-db="prisonName" name="prisonname")
          label
            span Date of Conviction
            input(required type="date" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"  data-db="dateOfConviction")

        div.commit
          label
            span Crime Committed
            input(required type="text" class="prisoner-crime-committed" data-db="crimeCommitted"  name="crimecommitted")

        div.family
          label
            span Marital Status
            input(required list="maritalStatus" class="prisoner-marital-stauts" data-db="maritalStatus")
            datalist(id="maritalStatus")
              option(value="single")
              option(value="married")
          label
            span Gender
              input(required list="gender" class="prisoner-gender" data-db="gender")
              datalist(id="gender")
                option(value="male")
                option(value="female")

        div.danger
          label
            span Lethal Level
            input(required list="lethalLevel" class="prisoner-lethal" data-db="lethal")
            datalist(id="lethalLevel")
              option(value="nonlethal")
              option(value="lethal")

        div.button
          button(type="submit" data-src-next="FamilyCred.jade" class="next-view") Next
          button(type="cancel") Reset
        script(src="../js/PrisonerCred.js")
