doctype html

extends ./_template.jade

block title
  title View Prisoner

block content
  include ./_HeaderButton.jade
  
  div.prisoners
    label
      span.prisoner-identify-static search by prison number
      input(type="number" class="prisoner-search" min="1" max="300")
    i(class="fa fa-search fa-2x prisoner-search-icon")
    hr
    ul.prisoners-section
      li.prisoner-section-list.active
        a(data-type="{}") All
      li.prisoner-section-list
        a(data-type="transfered") Transfered
      li.prisoner-section-list
        a(data-type="misconvicted") Mis-Convicted
      li.prisoner-section-list
        a(data-type="discharged") Discharged
      li.prisoner-section-list
        a(data-type="male") Male
      li.prisoner-section-list
        a(data-type="female") Female
      li.prisoner-section-list
        a(data-type="inview") In View
      li.prisoner-section-list
        a(data-type="lethal") Lethal
      li.prisoner-section-list
        a(data-type="nonlethal") Non Lethal
      
  div(class="prisoner-list")
  
  script(src="../js/ViewPrisoner.js")