
.prisoners {
    
    background: darken($color-var,30%);
    
    position: relative;
    top: 50px;
    float: left;
    padding: 12px;
    width: 20%;
    height: 100%;
    
    color: $color-var;

    .prisoners-section {
        padding: 12px;
        padding-top: initial;
        .prisoner-section-list {
            margin-top: 30px;
            background: $color-var;
            padding: 12px;
            cursor: pointer;
            width: 85%;
            &:hover {
                background: darken($color-var, 20%);
                [data-type] {
                    color: $color-var;
                }
            }
        }
    }
    
}

.prisoner-list {
    float: right;
    margin-top: 50px;
    margin-right: 20px;
    padding: 12px;
    //border: 1px solid red;
    height: 100%;
    width: 70%;
}

.active {
    @include activeMixin;
}

[data-not-available] {
    color: $color-var;
    text-align: center;
    
    font-size: 1.5em;
}

.prisoner-list-item {
    overflow-y: auto;
    height: 100%;
    padding-right: 25px;
}

.prisoner-item {

    border: 1px solid darken($color-var, 20%);
    padding: 10px;

    margin-top: 20px;
    box-shadow: 1px 1px 1px;

    display: inline-block;
    height: 250px;
}

.prisoner-view-full {
    cursor: pointer;
    display: block;
    margin-top: 12px;
    text-align: center;
    color: $color-var;
    &:hover {
        text-decoration: underline;
        color: $color-var;
    }
}

.prisoner-delete {
    @extend %button;
    display: flex;
    margin: auto;
    margin-top: 39px;
    padding: 5px;
    width: 50px;
    border-radius: 5px;
    background: darken(red,30%);
    color: white;
}

.prisoner-front-view-image {
    width: 100%;
}

.prisoner-search {
    display: inline-flex;
    width: 80% !important;
    vertical-align: super;
    margin-left: 15px;
}

.prisoner-search-icon {
    margin-left: 5px;
    cursor: pointer;
    &:hover {
        color: lighten($color-var, 12%);
    }
}

.prisoner-identify-static {
    text-align: center;
    margin-left: 18px;
}
