.view-visitor {
    position: relative;
    top: 50px;
    height: 860px;
    padding-bottom: 30px;
}

.view-visitor-list {
    padding-top: 50px;
    .view-visitor-item {
        margin-left: 50px;
        width: 90%;
        box-shadow: 0px 0px 8px 0px darken($color-var, 20%);
        padding: 12px;
        line-height: 1.5;
        clear: right;
        color: $color-var;
        
        &:not(:first-of-type) {
            margin-top: 50px;
        }

        .show-prisoner {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
        
        .delete-visitor {
            @extend .prisoner-delete;
            float: right;
            margin-top: -30px;
        }
    }
}

.visitors {
    position: relative;
    top: 50px;
    overflow-y: auto;
    height: 590px;
    padding-bottom: 30px;
    .visitor-noexists {
        @extend .warder-noexist;
        margin-top: initial;
    }
}
